.postlist {
    width: 800px;
}

.postlist_headers {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 25px;
    font-family: open_sans;
    font-size: 18px;
    font-weight: bold;
    color: #808080;
    padding: 17px 15px;
    background-color: #f0dbcc;
}

.postlist_category-header {
    margin-left: 400px;
}

.postlist_posts {
    position: absolute;
    bottom: 30px;
    top: 164px;
    overflow: auto;
    overflow-x: hidden;
}

.postlist_no-posts {
    display: flex;
    justify-content: center;
    width: 800px;
    text-align: center;
    font-size: 18px;
    font-family: open_sans;
    line-height: 30px;
}