.signin {
    width: 100%;
    height: 100%;
}

.signin_contents {
    height: calc(100% - 75px);
    display: flex;
    flex-direction: row;
}

.signin_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.signin_welcoming {
    padding: 20px;
}

.signin_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.signin_right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px;
}

.signin_welcome {
    font-family: 'Georgia', serif;
    font-size: min(calc(25px + 1vh + 1vw), 50px);
    font-weight: bold;
    margin-bottom: 50px;
}

.signin_username input {
    border: none;
    border-bottom: 2px solid lightgrey;
    padding: 5px;
    font-family: Verdana, sans-serif;
    font-size: min(calc(5px + 1vh + 1vw), 30px);
    margin-bottom: 30px;
}

.signin_username input:focus {
    outline: none;
    border-bottom: 3px solid #cff0cc;
    margin-bottom: 29px;
}

.signin_button {
    border: none;
    border-radius: 15px;
    background-color: lightgrey;
    padding: 10px 15px;
    font-family: Verdana, sans-serif;
    font-size: min(calc(5px + 0.8vh + 0.8vw), 25px);
    width: 25%;
    margin: 0 auto;
    transition-duration: 0.5s;
}

.signin_button:hover, .signin_button:active {
    background-color: #cff0cc;
}

.signin_error {
    height: 20px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #f4312f;
    margin-top: 20px;
}