.popup {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(150, 150, 150, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_box {
    background-color: #f9e7df;
    width: 700px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 0 0 15px darkgrey;
    padding: 7px 7px 40px 30px;
    text-align: left;
}

.popup_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup_header span {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
}

.popup_close {
    border: none;
    background-color: transparent;
    padding: 0;
}

.popup_close svg {
    color: darkgrey;
}

.popup_close svg:hover, svg:active {
    color: #828282;
}

.popup_category select {
    font-family: open_sans;
    font-size: 14px;
    margin: 18px 0;
    padding: 5px;
    height: 32px;
    width: 120px;
    color: black;
    border: none;
    border-radius: 8px;
}

.popup_category select option {
    color: black;
}

.popup_category select:invalid {
    color: #767676;
}

.popup_category select:focus {
    outline: 2px solid lightgrey;
}

.popup_title input {
    font-family: open_sans;
    font-size: 18px;
    padding: 0 10px;
    margin-right: 23px;
    height: 40px;
    width: 660px;
    border: none;
    border-radius: 8px;
}

.popup_title input:focus {
    outline: 2px solid lightgrey;
}

.popup_body textarea {
    font-family: open_sans;
    font-size: 16px;
    padding: 5px 10px;
    margin: 15px 0 10px 0;
    width: 660px;
    border: none;
    border-radius: 8px;
    resize: none;
}

.popup_body textarea:focus {
    outline: 2px solid lightgrey;
}

textarea::-webkit-scrollbar {
    display: none;
}

.popup_post {
    height: 200px;
}

.popup_comment {
    height: 310px;
}

.popup_submit {
    border: none;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 8px 10px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    width: 90px;
    transition-duration: 0.5s;
    float: right;
    margin-top: -2px;
    margin-right: 20px;
}

.popup_submit:hover, .popup_submit:active {
    transform: scale(1.1);
    background-color: darkgrey;
}

.popup_error {
    display: inline-block;
    margin-top: 5px;
    margin-left: 250px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #f4312f;
}