.home {
    width: 100%;
    height: 100%;
}

.home_contents {
    display: flex;
    height: calc(100% - 75px);
}

.home_left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', serif;
    font-size: min(calc(35px + 1vw + 1vh), 60px);
    font-style: italic;
    width: 50%;
    text-align: left;
    line-height: 80px;
    padding: 20px;
}

.home_right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 480px;
    padding: 20px;
    margin: 1%;
}

.home_right svg {
    padding-top: 50px;
}

.home_slogan {
    position: absolute;
    padding-bottom: 150px;
    padding-right: 150px;
    font-family: 'Georgia', serif;
    font-size: 35px;
    font-weight: bold;
}

.home_share {
    vertical-align: -300%;
}

.home_learn {
    vertical-align: 0%;
    margin: 0 65px 0 90px;
}

.home_grow {
    vertical-align: 490%;
    font-style: italic;
}