.home {
    width: 100%;
    height: 100%;
}

.home_contents {
    display: flex;
    height: calc(100% - 75px);
}

.home_contents div {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_left {
    font-family: 'Georgia', serif;
    font-size: min(calc(35px + 1vw + 1vh), 60px);
    font-style: italic;
    text-align: left;
    line-height: 80px;
    padding: 20px;
}

.home_right div {
    position: relative;
    height: 490px;
    max-width: 530px;
    font-family: 'Georgia', serif;
    font-size: 35px;
    font-weight: bold;
}

.home_right svg {
    position: absolute;
    bottom: 0;
    left: 80px;
}

.home_share {
    position: absolute;
    bottom: 140px;
    left: 2px;
}

.home_learn {
    position: absolute;
    bottom: 265px;
    left: 190px;
}

.home_grow {
    position: absolute;
    bottom: 455px;
    left: 355px;
    font-style: italic;
}