.forum {
    width: 100%;
    height: 100%;
}

.forum_contents {
    display: flex;
    height: calc(100% - 105px);
    justify-content: center;
    margin-top: 30px;
}

.forum_category {
    display: flex;
    flex-direction: column;
    width: 215px;
    padding-bottom: 20px;
    margin: 0 50px 0 20px;
    border: 2px solid #f0dbcc;
}

.forum_filter {
    font-family: open_sans;
    font-size: 16px;
    font-weight: bold;
    color: #808080;
    text-align: center;
    padding: 17px 0;
    background-color: #f0dbcc;
    height: 22px;
}

.forum_button {
    width: fit-content;
    border: none;
    background-color: transparent;
    font-family: open_sans;
    font-size: 15px;
    margin: 20px 0 0 45px;
    padding: 0;
}

.forum_button:hover, .forum_button:active {
    color: darkgrey;
}

.forum_query {
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 290px;
    width: 500px;
    height: 20px;
}

.forum_query input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid lightgrey;
    padding: 8px 15px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
}

.forum_query input:focus {
    outline: none;
    border: 2px solid darkgrey;
}

.forum_search {
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 270px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.forum_search svg {
    color: lightgrey;
}

.forum_search svg:hover, .forum_search svg:active {
    color: darkgrey;
}

.forum_create {
    position: absolute;
    top: 28px;
    right: 130px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    background-color: transparent;
    border: none;
}

.forum_create:hover, .forum_create:active {
    color: darkgrey;
}