.loading {
    font-family: Verdana, sans-serif;
}

@keyframes spin {
    100% { 
        -webkit-transform: rotateY(360deg); 
        transform: rotateY(360deg); 
    } 
}
  
.loading svg {
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 200px;
}